body {
    
    background-image: url("./img/hanoibackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    
}

#playerPicked {
    display: flex;
    position: relative;
    right: 50%;
    left: 34%;
    width: 400px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


.towers {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
}

.tower {
    display: flex;  
    flex-direction: column-reverse;  
    align-items: center;
    height: 300px;
    width: 40px;
    background: brown;
    border: 2px solid black;
    border-radius: 15px;
}

.disc1 {
    height: 30px;
    width: 100px;
    background:yellow;
    border: 2px solid black;
    border-radius: 15px;
}

.disc2 {
    height: 30px;
    width: 200px;
    background: chartreuse;
    border: 2px solid black;
    border-radius: 15px;
}

.disc3 {
    height: 30px;
    width: 300px;
    background: orange;
    border: 2px solid black;
    border-radius: 15px;
}

.disc4 {
   height: 30px;
   width: 400px;
   background: orchid;
   border: 2px solid black;
   border-radius: 15px;
}

#resetButton {
    width:100%; 
    height:150px; 
}

button {
    font-family: cursive;
    font-style: italic;
    font-size: 20px;
    border-radius: 15px;
    background-color: peachpuff;
    height:40px; 
    position:relative; 
    margin: -20px -50px; 
    width:100px; 
    top:50%; 
    left:50%;
}